<div id="container">
  <dx-menu (onItemClick)="onItemClick($event)" [adaptivityEnabled]="toogle">
      <dxi-item icon="home">

      </dxi-item>
      <dxi-item
            text="About"
            beginGroup="true"
        >
        </dxi-item>
        <dxi-item
            text="Products"
        >
        </dxi-item>
        <dxi-item
            icon="cart"
        >
        </dxi-item>
  </dx-menu>
  <dx-check-box (onValueChanged)="onValue($event)">

  </dx-check-box>
</div>

<h2>
  progress bar
</h2>
<dx-progress-bar [min]="0" [max]="100" [value]="30">

</dx-progress-bar>
