<div>
  <dx-button
            stylingMode="outlined"
            text="Product List"
            type="success"
            routerLink="./pages/list"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="Menu"
            type="success"
            routerLink="./pages/menu"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="DataGrid"
            type="success"
            routerLink="./pages/data-grid"
            [width]="120"

          >
</dx-button>
</div>

<router-outlet></router-outlet>
