<div>
  <dx-button
            stylingMode="outlined"
            text="Product List"
            type="success"
            routerLink="./pages/list"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="Menu"
            type="success"
            routerLink="./pages/menu"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="DataGrid"
            type="success"
            routerLink="./pages/data-grid"
            [width]="120"

          >
</dx-button>
<dx-button
            stylingMode="outlined"
            text="ventana"
            type="success"
            routerLink="./pages/ventanas"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="Tree Map"
            type="danger"
            routerLink="./pages/tree"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="archivos"
            type="default"
            routerLink="./pages/archivos"
            [width]="120"

          >
</dx-button>

<dx-button
            stylingMode="outlined"
            text="form"
            type="warm"
            routerLink="./pages/form-upload"
            [width]="120"

          >
</dx-button>
</div>

<router-outlet></router-outlet>
